Repository veracruz-project/veracruz, pull requests merged in 2021-03, with the labels that each got.

#80 Rewrite of the generate-policy.py script in Rust to remove Python 2 dependency
  durango/Cargo.toml
  durango/src/durango.rs
  mexico-city/Cargo.toml
  mexico-city/src/managers/execution_engine_manager.rs
  nitro-root-enclave-server/Cargo.toml
  proxy-attestation-server/Cargo.toml
  sinaloa-test/Cargo.toml
  sinaloa/Cargo.toml
  test-collateral/Makefile
  test-collateral/generate-policy/Cargo.toml
  test-collateral/generate-policy/Makefile
  test-collateral/generate-policy/src/main.rs
  test-collateral/generate_policy.py
  test-collateral/policy.template
  veracruz-test/Cargo.toml
  veracruz-utils/src/policy.rs
Labels: always-refactoring, build-process, enhancement

#91 Rename Baja to SessionManager
  COMPONENTS.markdown
  Makefile
  mexico-city/Cargo.toml
  mexico-city/mexico_city.edl
  mexico-city/src/managers/error.rs
  mexico-city/src/managers/mod.rs
  mexico-city/src/managers/session_manager.rs
  mexico-city/src/mc_nitro.rs
  mexico-city/src/mc_sgx.rs
  mexico-city/src/mc_tz.rs
  session-manager/.gitignore
  session-manager/Cargo.toml
  session-manager/Xargo.toml
  session-manager/src/error.rs
  session-manager/src/lib.rs
  session-manager/src/session.rs
  session-manager/src/session_context.rs
  sinaloa/src/sinaloa_sgx.rs
  veracruz-utils/src/policy.rs
Labels: documentation, repository

#92 Rename Jalisco to SgxRootEnclave
  COMPONENTS.markdown
  Makefile
  mexico-city/src/mc_tz.rs
  nitro-root-enclave/src/main.rs
  proxy-attestation-server/src/attestation/psa.rs
  sgx-root-enclave-uuid.txt
  sgx-root-enclave/.env
  sgx-root-enclave/Cargo.toml
  sgx-root-enclave/Makefile
  sgx-root-enclave/Xargo.toml
  sgx-root-enclave/build.rs
  sgx-root-enclave/src/main.rs
  sgx-root-enclave/ta_aarch64.lds
  sgx-root-enclave/ta_arm.lds
  sgx-root-enclave/ta_static.rs
  sinaloa/build.rs
  sinaloa/src/sinaloa_tz.rs
  veracruz-utils/build.rs
  veracruz-utils/src/jalisco_opcode.rs
  veracruz-utils/src/lib.rs
  veracruz-utils/src/sgx_root_enclave_opcode.rs
Labels: attestation, build-process, documentation, repository

#100 Add Guilhem as an author
  AUTHORS.markdown
Labels: documentation, repository

#93 Renamed Sonora to TrustZoneRootEnclave
  .gitignore
  COMPONENTS.markdown
  Makefile
  mexico-city/mexico_city.edl
  mexico-city/src/mc_sgx.rs
  proxy-attestation-server/Cargo.toml
  proxy-attestation-server/get-enclave-hash.sh
  proxy-attestation-server/populate-test-database.sh
  proxy-attestation-server/src/test.rs
  sinaloa-test/populate-test-database.sh
  sinaloa/Cargo.toml
  sinaloa/src/sinaloa_sgx.rs
  sonora-bind/wrapper.h
  sonora/.gitignore
  trustzone-root-enclave-bind/Cargo.toml
  trustzone-root-enclave-bind/build.rs
  trustzone-root-enclave-bind/src/lib.rs
  trustzone-root-enclave-bind/wrapper.h
  trustzone-root-enclave/.gitignore
  trustzone-root-enclave/Cargo.toml
  trustzone-root-enclave/Enclave.config.xml
  trustzone-root-enclave/Enclave.lds
  trustzone-root-enclave/Enclave_private.pem
  trustzone-root-enclave/Makefile
  trustzone-root-enclave/src/lib.rs
  trustzone-root-enclave/trustzone_root_enclave.edl
  veracruz-test/populate-test-database.sh
Labels: attestation, build-process, documentation, repository

#95 Rename Colima to TransportProtocol
  COMPONENTS.markdown
  Makefile
  colima/.gitignore
  durango/Cargo.toml
  durango/src/attestation.rs
  durango/src/durango.rs
  durango/src/error.rs
  mexico-city/Cargo.toml
  mexico-city/src/managers/error.rs
  mexico-city/src/managers/execution_engine_manager.rs
  nitro-root-enclave-server/Cargo.toml
  nitro-root-enclave-server/src/main.rs
  proxy-attestation-server/Cargo.toml
  proxy-attestation-server/src/attestation.rs
  proxy-attestation-server/src/attestation/nitro.rs
  proxy-attestation-server/src/attestation/psa.rs
  proxy-attestation-server/src/attestation/sgx.rs
  proxy-attestation-server/src/error.rs
  proxy-attestation-server/src/server.rs
  proxy-attestation-server/src/test.rs
  sgx-root-enclave/Cargo.toml
  sinaloa-test/Cargo.toml
  sinaloa-test/src/main.rs
  sinaloa/Cargo.toml
  sinaloa/fuzz/Cargo.toml
  sinaloa/fuzz/fuzz_targets/provision_data.rs
  sinaloa/src/sinaloa.rs
  sinaloa/src/sinaloa_nitro.rs
  sinaloa/src/sinaloa_sgx.rs
  sinaloa/src/sinaloa_tz.rs
  transport-protocol/.gitignore
  transport-protocol/Cargo.toml
  transport-protocol/build.rs
  transport-protocol/protos/transport_protocol.proto
  transport-protocol/src/custom.rs
  transport-protocol/src/lib.rs
  trustzone-root-enclave/Cargo.toml
  veracruz-test/Cargo.toml
  veracruz-test/src/main.rs
Labels: documentation, repository

#96 Rename Durango to VeracruzClient
  .gitlab-ci.yml
  COMPONENTS.markdown
  Makefile
  TEST_PLAN.markdown
  buildspec.yml
  durango/src/error.rs
  veracruz-client/.gitignore
  veracruz-client/Cargo.toml
  veracruz-client/src/attestation.rs
  veracruz-client/src/error.rs
  veracruz-client/src/lib.rs
  veracruz-client/src/tests.rs
  veracruz-client/src/veracruz_client.rs
  veracruz-test/Cargo.toml
  veracruz-test/src/main.rs
  veracruz-utils/src/policy.rs
Labels: client-code, documentation, repository

#104 Hoovering up various references to old component names in comments, documents, etc.
  COMPONENTS.markdown
  Makefile
  runtime-manager/src/runtime_manager_trustzone.rs
  sdk/wasm-checker/Makefile
  sinaloa/src/sinaloa_tz.rs
  transport-protocol/protos/transport_protocol.proto
Labels: attestation, build-process, client-code, documentation, repository, sdk, trusted-veracruz-runtime

#108 Add pgen to .PHONY rule in test-collateral Makefile
  test-collateral/Makefile
Labels: bug, build-process

#98 Adopted AsRef<Path> where Durango/Sinaloa take in paths
  veracruz-client/src/veracruz_client.rs
  veracruz-server/src/server.rs
Labels: always-refactoring, client-code, enhancement

#110 Fix socket2 dependency.
  proxy-attestation-server/Cargo.toml
Labels: bug, build-process

#97 Embed enclave binaries into the Sinaloa binary directly
  veracruz-server/Cargo.toml
  veracruz-server/src/veracruz_server_sgx.rs
Labels: client-code, enhancement

#111 Remove platform-specific conditional dependencies
  execution-engine/Cargo.toml
  platform-services/Cargo.toml
  proxy-attestation-server/Cargo.toml
  runtime-manager/Cargo.toml
  runtime-manager/build.rs
  session-manager/Cargo.toml
  sgx-root-enclave/Cargo.toml
  transport-protocol/Cargo.toml
  transport-protocol/src/lib.rs
  veracruz-client/Cargo.toml
  veracruz-server-test/Cargo.toml
  veracruz-server/Cargo.toml
  veracruz-server/build.rs
  veracruz-test/Cargo.toml
Labels: always-refactoring, build-process

#105 Replace mutexes around primitive types with atomics
  proxy-attestation-server/src/attestation.rs
  runtime-manager/src/managers/mod.rs
  runtime-manager/src/managers/session_manager.rs
  sgx-root-enclave/src/lib.rs
  trustzone-root-enclave/src/main.rs
  veracruz-server-test/src/main.rs
  veracruz-server/fuzz/fuzz_targets/provision_data.rs
  veracruz-server/src/veracruz_server_tz.rs
Labels: always-refactoring, attestation, client-code, trusted-veracruz-runtime

#117 Liberalized mutability constraints of methods of VeracruzServer trait
  veracruz-server-test/src/main.rs
  veracruz-server/src/server.rs
  veracruz-server/src/veracruz_server.rs
  veracruz-server/src/veracruz_server_nitro.rs
  veracruz-server/src/veracruz_server_sgx.rs
  veracruz-server/src/veracruz_server_tz.rs
Labels: always-refactoring, server
