Repository veracruz-project/veracruz, pull requests merged in 2021-08, with the labels that each got.

#182 Fix sundry bugs in the Veracruz virtual filesystem
  execution-engine/src/fs.rs
Labels: bug, trusted-veracruz-runtime

#200 Fix Makefile clean-cargo-lock target
  Makefile
Labels: bug, repository, build-process

#180 Remove the Nitro-root-enclave
  Makefile
  nitro-root-enclave-server/Cargo.toml
  nitro-root-enclave-server/Makefile
  nitro-root-enclave-server/src/main.rs
  nitro-root-enclave/Cargo.toml
  nitro-root-enclave/Dockerfile
  nitro-root-enclave/Makefile
  nitro-root-enclave/src/main.rs
  proxy-attestation-server/src/attestation.rs
  proxy-attestation-server/src/attestation/nitro.rs
  proxy-attestation-server/src/attestation/psa.rs
  proxy-attestation-server/src/attestation/sgx.rs
  runtime-manager/src/managers/session_manager.rs
  runtime-manager/src/runtime_manager_nitro.rs
  runtime-manager/src/runtime_manager_sgx.rs
  runtime-manager/src/runtime_manager_trustzone.rs
  session-manager/src/error.rs
  session-manager/src/session.rs
  session-manager/src/session_context.rs
  test-collateral/populate-test-database.sh
  veracruz-client/src/veracruz_client.rs
  veracruz-server-test/src/main.rs
  veracruz-server/src/ec2_instance.rs
  veracruz-server/src/lib.rs
  veracruz-server/src/veracruz_server.rs
  veracruz-server/src/veracruz_server_nitro.rs
  veracruz-test/src/main.rs
  veracruz-utils/src/csr.rs
  veracruz-utils/src/lib.rs
  veracruz-utils/src/platform/nitro/nitro.rs
  veracruz-utils/src/platform/nitro/nitro_enclave.rs
Labels: enhancement, attestation, always-refactoring

#191 Parallelize the CI to reduce build times
  buildspec.yml
  sgx_buildspec.yml
  trustzone_buildspec.yml
Labels: enhancement, build-process, always-refactoring

#201 Freestanding execution engine README
  AUTHORS.markdown
  sdk/freestanding-execution-engine/README.md
Labels: documentation, enhancement, sdk

#204 Github action
  .github/workflows/main.yml
Labels: enhancement, repository, build-process
