Repository veracruz-project/veracruz, pull requests merged in 2021-05, with the labels that each got.

#140 Update actix crates
  proxy-attestation-server/Cargo.toml
  veracruz-client/Cargo.toml
  veracruz-server-test/Cargo.toml
  veracruz-server/Cargo.toml
  veracruz-test/Cargo.toml
  veracruz-utils/Cargo.toml
Labels: always-refactoring, build-process, server

#141 Add Mathias Brossard to the AUTHORS file
  AUTHORS.markdown
Labels: documentation, repository

#143 Reduce the number of re-builds in sdk target
  sdk/rust-language-support/examples/number-stream-accumulation/Xargo.toml
  sdk/rust-language-support/veracruz-rt/Cargo.toml
Labels: bug, build-process, sdk
