Repository veracruz-project/veracruz, pull requests merged in 2021-02, with the labels that each got.

#85 Dependency Fix: force `log` version being 0.4.13
  sinaloa-test/Cargo.toml
  veracruz-test/Cargo.toml
Labels: bug, build-process

#82 Fix location info in example certificate
  test-collateral/cert.conf
Labels: documentation, enhancement

#87 Rename tlaxcala to wasm-checker
  sdk/Makefile
  sdk/wasm-checker/.gitignore
  sdk/wasm-checker/Makefile
  sdk/wasm-checker/src/main.cc
  sdk/wasm-checker/wasm-checker-config.json
Labels: repository, sdk

#89 Rename Chihuahua to ExecutionEngine
  COMPONENTS.markdown
  Makefile
  execution-engine/Cargo.toml
  execution-engine/src/error/common.rs
  execution-engine/src/error/mod.rs
  execution-engine/src/error/wasmi.rs
  execution-engine/src/factory.rs
  execution-engine/src/hcall/common.rs
  execution-engine/src/hcall/mod.rs
  execution-engine/src/hcall/wasmi.rs
  execution-engine/src/hcall/wasmtime.rs
  execution-engine/src/lib.rs
  mexico-city/Cargo.toml
  mexico-city/build.rs
  mexico-city/src/managers/baja_manager.rs
  mexico-city/src/managers/buffer.rs
  mexico-city/src/managers/error.rs
  mexico-city/src/managers/execution_engine_manager.rs
  mexico-city/src/managers/mod.rs
  platform-services/src/lib.rs
  platform-services/src/std_platform_services.rs
  sdk/Makefile
  sdk/freestanding-execution-engine/Cargo.toml
  sdk/freestanding-execution-engine/Makefile
  sdk/freestanding-execution-engine/config/chihuahua.toml
  sdk/freestanding-execution-engine/rustfmt.toml
  sdk/freestanding-execution-engine/src/main.rs
  sinaloa-test/src/main.rs
  test-collateral/invalid_policy/expired_certificate.json
  test-collateral/invalid_policy/id:000000,sig:04,src:000000,op:flip1,pos:34.json
  test-collateral/invalid_policy/id:000001,sig:04,src:000000,op:flip1,pos:34.json
  test-collateral/invalid_policy/id:000002,sig:04,src:000000,op:flip1,pos:62.json
  test-collateral/invalid_policy/id:000003,sig:04,src:000000,op:flip1,pos:584.json
  test-collateral/invalid_policy/id:000004,sig:04,src:000000,op:flip1,pos:690.json
  test-collateral/invalid_policy/id:000005,sig:04,src:000000,op:flip1,pos:707.json
  test-collateral/invalid_policy/id:000006,sig:04,src:000000,op:flip1,pos:1417.json
  test-collateral/invalid_policy/id:000007,sig:04,src:000000,op:flip1,pos:2623.json
  test-collateral/invalid_policy/id:000008,sig:04,src:000000,op:flip1,pos:2650.json
  test-collateral/invalid_policy/id:000009,sig:04,src:000000,op:flip2,pos:1417.json
  test-collateral/invalid_policy/id:000010,sig:04,src:000000,op:arith8,pos:62,val:-18.json
  test-collateral/invalid_policy/id:000011,sig:04,src:000000,op:arith8,pos:87,val:-17.json
  test-collateral/invalid_policy/id:000012,sig:04,src:000000,op:arith8,pos:790,val:-7.json
  test-collateral/invalid_policy/invalid_day_format_certificate-1.json
  test-collateral/invalid_policy/invalid_day_format_certificate-2.json
  test-collateral/invalid_policy/invalid_hour_format_certificate-1.json
  test-collateral/invalid_policy/invalid_hour_format_certificate-2.json
  test-collateral/invalid_policy/invalid_min_format_certificate-1.json
  test-collateral/invalid_policy/invalid_min_format_certificate-2.json
  test-collateral/invalid_policy/invalid_month_format_certificate-1.json
  test-collateral/invalid_policy/invalid_month_format_certificate-2.json
  test-collateral/invalid_policy/invalid_year_format_certificate.json
Labels: repository, sdk, trusted-veracruz-runtime
