Repository veracruz-project/veracruz, pull requests merged in 2022-04, with the labels that each got.

#376 Added release notes for Veracruz 22.04
  README.markdown
  documents/release-notes/VERACRUZ-2204.markdown
Labels: documentation

#384 Add I/O related examples
  AUTHORS.markdown
  sdk/rust-examples/file-seek/.gitignore
  sdk/rust-examples/file-seek/Cargo.toml
  sdk/rust-examples/file-seek/README.md
  sdk/rust-examples/file-seek/src/main.rs
  sdk/rust-examples/sort-numbers/Cargo.toml
  sdk/rust-examples/sort-numbers/README.md
  sdk/rust-examples/sort-numbers/src/main.rs
  test-collateral/unsorted_numbers.txt
Labels: enhancement, sdk

#385 CLI: Bring the CLI_QUICKSTART.markdown back up to date
  .github/workflows/main.yml
  CLI_INSTRUCTIONS.markdown
  CLI_QUICKSTART.markdown
  veracruz-server/Cargo.toml
  veracruz-server/src/veracruz_server_linux.rs
  workspaces/Makefile
  workspaces/host/Makefile
  workspaces/linux-host/Makefile
Labels: documentation, enhancement

#397 Changed fd_create to fd-create
  AUTHORS.markdown
  sdk/c-examples/README.md
  sdk/rust-examples/fd-create/Cargo.toml
  sdk/rust-examples/fd-create/src/main.rs
  sdk/rust-examples/fd-create/test.sh
  veracruz-server-test/src/main.rs
  workspaces/applications/Cargo.lock
  workspaces/applications/Cargo.toml
  workspaces/shared.mk
Labels: bug, sdk, always-refactoring

#394 Fix and simplify shutdown mechanism on Nitro and other platforms
  runtime-manager/src/managers/mod.rs
  runtime-manager/src/runtime_manager_linux.rs
  runtime-manager/src/runtime_manager_nitro.rs
  veracruz-server/src/server.rs
  veracruz-server/src/veracruz_server.rs
  veracruz-server/src/veracruz_server_icecap.rs
  veracruz-server/src/veracruz_server_linux.rs
  veracruz-server/src/veracruz_server_nitro.rs
  veracruz-test/src/main.rs
  veracruz-utils/src/platform/vm.rs
Labels: bug, trusted-veracruz-runtime, always-refactoring

#401 huffman_encoding example added
  sdk/rust-examples/huffman-encoding/.gitignore
  sdk/rust-examples/huffman-encoding/Cargo.toml
  sdk/rust-examples/huffman-encoding/README.markdown
  sdk/rust-examples/huffman-encoding/src/main.rs
  test-collateral/huffman_example_input.txt
Labels: enhancement, sdk

#404 removed reference to make sdk
  CLI_QUICKSTART.markdown
Labels: bug, documentation, build-process

#408 Tiny change to fix icecap build.
  veracruz-server/src/veracruz_server_icecap.rs
  workspaces/icecap-host/Cargo.lock
  workspaces/linux-host/Cargo.lock
  workspaces/nitro-host/Cargo.lock
Labels: bug, build-process, always-refactoring

#407 mini_grep rust-example added
  sdk/rust-examples/string-search/Cargo.toml
  sdk/rust-examples/string-search/README.markdown
  sdk/rust-examples/string-search/src/main.rs
  test-collateral/random_search_text.txt
Labels: enhancement, sdk

#406 improved logging by changing eprint to info in strace.rs
  execution-engine/Cargo.toml
  execution-engine/src/wasi/strace.rs
Labels: trusted-veracruz-runtime, always-refactoring

#412 fixed the left out changes in /rust-examples/huffman-encoding
  sdk/rust-examples/huffman-encoding/src/main.rs
Labels: bug, sdk, always-refactoring

#415 Added pipeline example (cleaned)
  sdk/rust-examples/prime-numbers-generator/README.markdown
  sdk/rust-examples/prime-numbers-generator/generate-set/Cargo.toml
  sdk/rust-examples/prime-numbers-generator/generate-set/src/main.rs
  sdk/rust-examples/prime-numbers-generator/keep-primes/Cargo.toml
  sdk/rust-examples/prime-numbers-generator/keep-primes/src/main.rs
Labels: enhancement, sdk, always-refactoring

#386 Add the Counter mode AES native module
  execution-engine/Cargo.toml
  execution-engine/src/fs.rs
  execution-engine/src/native_modules/aes.rs
  execution-engine/src/native_modules/mod.rs
  execution-engine/src/native_modules/postcard.rs
  sdk/rust-examples/aesctr-native/Cargo.toml
  sdk/rust-examples/aesctr-native/Makefile
  sdk/rust-examples/aesctr-native/src/main.rs
  sdk/rust-examples/postcard-native/src/main.rs
  workspaces/applications/Cargo.toml
  workspaces/host/Cargo.toml
  workspaces/linux-host/Cargo.toml
  workspaces/linux-runtime/Cargo.toml
  workspaces/shared.mk
Labels: enhancement, trusted-veracruz-runtime

#421 Some housekeeping: .gitignore, test targets, ...
  .github/workflows/main.yml
  runtime-manager/.gitignore
  veracruz-client/.gitignore
  workspaces/Makefile
  workspaces/host/Cargo.toml
  workspaces/icecap-host/Cargo.toml
  workspaces/icecap-host/Makefile
  workspaces/icecap-runtime/.gitignore
  workspaces/icecap-runtime/Cargo.toml
  workspaces/linux-host/.gitignore
  workspaces/linux-host/Makefile
  workspaces/linux-runtime/.gitignore
  workspaces/linux-runtime/Cargo.toml
  workspaces/nitro-host/Cargo.toml
  workspaces/nitro-runtime/Cargo.toml
Labels: repository, testing, always-refactoring

#428 Add "test-server" to "icecap" test and remove PROFILE=dev.
  .github/workflows/main.yml
Labels: bug, build-process, always-refactoring
