Repository veracruz-project/veracruz, pull requests merged in 2023-06, with the labels that each got.

#614 Update build system to reduce need for Makefile
  .github/workflows/main.yml
  CLI_QUICKSTART.markdown
  examples/rust-examples/image-processing/Cargo.toml
  examples/rust-examples/tflite-inference-native-mnist/src/main.rs
  icecap/README.md
  runtime-manager/Cargo.toml
  runtime-manager/dockerdir/.gitignore
  runtime-manager/dockerdir/Dockerfile
  runtime-manager/src/main.rs
  runtime-manager/src/platforms/linux.rs
  tests/Cargo.toml
  tests/src/lib.rs
  workspaces/applications/.cargo/config.toml
  workspaces/applications/Cargo.lock
  workspaces/applications/Cargo.toml
  workspaces/applications/Makefile
  workspaces/applications/rust-toolchain.toml
  workspaces/host/.cargo/config.toml
  workspaces/host/Makefile
  workspaces/icecap-host/.cargo/config.toml
  workspaces/icecap-host/Cargo.lock
  workspaces/icecap-host/Cargo.toml
  workspaces/icecap-host/Makefile
  workspaces/icecap-host/src/icecap-host/Cargo.toml
  workspaces/icecap-host/src/icecap-host/src/lib.rs
  workspaces/icecap-runtime/Cargo.lock
  workspaces/icecap-runtime/Cargo.toml
  workspaces/icecap-runtime/Makefile
  workspaces/icecap-runtime/cdl/composition.py
  workspaces/icecap-runtime/icecap.mk
  workspaces/icecap-runtime/src/icecap-runtime/Cargo.toml
  workspaces/icecap-runtime/src/icecap-runtime/src/main.rs
  workspaces/linux-host/.cargo/config.toml
  workspaces/linux-host/Cargo.lock
  workspaces/linux-host/Cargo.toml
  workspaces/linux-host/Makefile
  workspaces/linux-host/src/linux-host/Cargo.toml
  workspaces/linux-host/src/linux-host/src/lib.rs
  workspaces/linux-runtime/.gitignore
  workspaces/linux-runtime/Cargo.lock
  workspaces/linux-runtime/Cargo.toml
  workspaces/linux-runtime/Makefile
  workspaces/linux-runtime/src/linux-runtime/Cargo.toml
  workspaces/linux-runtime/src/linux-runtime/src/main.rs
  workspaces/nitro-host/.cargo/config.toml
  workspaces/nitro-host/Cargo.lock
  workspaces/nitro-host/Cargo.toml
  workspaces/nitro-host/Makefile
  workspaces/nitro-host/src/nitro-host/Cargo.toml
  workspaces/nitro-host/src/nitro-host/src/lib.rs
  workspaces/nitro-runtime/.cargo/config.toml
  workspaces/nitro-runtime/Cargo.lock
  workspaces/nitro-runtime/Cargo.toml
  workspaces/nitro-runtime/Makefile
  workspaces/nitro-runtime/src/nitro-runtime/Cargo.toml
  workspaces/nitro-runtime/src/nitro-runtime/src/main.rs
Labels: build-process, always-refactoring, dependencies

#619 Created separate crates for each of the platform's runtime managers
  .github/workflows/main.yml
  CLI_QUICKSTART.markdown
  icecap-runtime-manager/Cargo.toml
  icecap-runtime-manager/src/icecap_runtime.rs
  icecap-runtime-manager/src/main.rs
  icecap/README.md
  linux-runtime-manager/Cargo.toml
  linux-runtime-manager/src/linux_runtime.rs
  linux-runtime-manager/src/main.rs
  nitro-runtime-manager/Cargo.toml
  nitro-runtime-manager/dockerdir/.gitignore
  nitro-runtime-manager/dockerdir/Dockerfile
  nitro-runtime-manager/src/main.rs
  nitro-runtime-manager/src/nitro_runtime.rs
  runtime-manager/Cargo.toml
  runtime-manager/src/common_runtime.rs
  runtime-manager/src/lib.rs
  runtime-manager/src/platform_runtime.rs
  runtime-manager/src/platforms/icecap.rs
  runtime-manager/src/platforms/linux.rs
  runtime-manager/src/platforms/mod.rs
  runtime-manager/src/platforms/nitro.rs
  workspaces/host/Cargo.lock
  workspaces/icecap-runtime/Cargo.lock
  workspaces/icecap-runtime/Cargo.toml
  workspaces/icecap-runtime/Makefile
  workspaces/icecap-runtime/cdl/composition.py
  workspaces/icecap-runtime/icecap.mk
  workspaces/icecap-runtime/src/icecap-runtime/Cargo.toml
  workspaces/icecap-runtime/src/icecap-runtime/src/main.rs
  workspaces/linux-host/Makefile
  workspaces/linux-runtime/Cargo.lock
  workspaces/linux-runtime/Cargo.toml
  workspaces/linux-runtime/Makefile
  workspaces/linux-runtime/src/linux-runtime/Cargo.toml
  workspaces/linux-runtime/src/linux-runtime/src/main.rs
  workspaces/nitro-host/Makefile
  workspaces/nitro-runtime/.gitignore
  workspaces/nitro-runtime/Cargo.lock
  workspaces/nitro-runtime/Cargo.toml
  workspaces/nitro-runtime/Makefile
  workspaces/nitro-runtime/src/nitro-runtime/Cargo.toml
  workspaces/nitro-runtime/src/nitro-runtime/src/main.rs
Labels: always-refactoring

#633 Update wasmtime and h2
  execution-engine/Cargo.toml
  execution-engine/src/engines/wasmtime.rs
  rust-toolchain
  workspaces/applications/Cargo.lock
  workspaces/applications/rust-toolchain.toml
  workspaces/host/Cargo.lock
  workspaces/icecap-host/Cargo.lock
  workspaces/icecap-runtime/Cargo.lock
  workspaces/linux-host/Cargo.lock
  workspaces/linux-runtime/Cargo.lock
  workspaces/nitro-host/Cargo.lock
  workspaces/nitro-runtime/Cargo.lock
Labels: trusted-veracruz-runtime
